__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.DS_Store
.dockerignore
.git/
.idea/
.gitignore
.gitattributes
README.rst
README.md
.env/
.vscode/
db.sqlite3
nginx/
